.user-page-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pet-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.pet-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px #d99a3a solid;
    border-radius: 12px;
}

.pet-name{
    text-transform: capitalize;
}

.pet {
    margin: 50px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pet-page-image {
    width: 300px;
    height: 300px;
}